.navbar-brand {
  line-height: 3.25rem;
  margin-right: 1em;
  font-weight: bold;
  text-transform: uppercase;
}

header {
  padding-left: 6em;
}

.column {
  padding: 2rem!important;
}

.bg-grey-lighter {
  background-color: hsl(0, 0%, 95%)!important;
}

.max-h-200 {
  max-height: 200px;
}